.pink-mode{
    background-color: #cecece;
    color: #fff;
}
.pink-mode-old{
    background-color: #C0C0C0;
    color: #fff;
}
.cirle{
    outline: 20px solid #fff;
}
.mod:hover{
    background-color: #cecece   ;
}
.pink-trans{
    transform: translateY(-55px);
    color: #fff;
    position: absolute;
    height: 60px;
}
.pink-tr{
    position: absolute;
}
.circle-box:hover{
    background: #cecece;

}
.cir:hover{
    outline: 20px solid #fff;
}
@media screen and (max-width:990px) {
    .za{
        height: 80px;
        display: flex;
        transform: translateY(-75px);
    }
}
@media screen and (max-width: 600px) {
    .nux{
        display: block;
    }
    .navbar_locc,
    .navbar_loccc,
    .navbar_locccc{
        display: none;
    }
    .navbar{
        padding: 0 50px;
    }
    .navbar_h2{
        font-size: 30px;
    }
    .navbar_loc svg{
        width: 30px;
        height: 30px;
        transform: translateY(2px);
    }
    .nux{
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .navbar_btn{
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .navbar_btn{
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
}