.ijtimoiy_logo svg{
    background-color: #F9FAFC;
    height: 28px;
    fill: black !important;
    transform: translateY(2px);
    cursor: pointer;
}
.tod{
    padding-top: 10px;
    font-size: 16px;
    font-style: italic;
    color: #000000;
    font-weight: 400;
}
.tor{
    transform: translateY(35px);
}
.ijtimoiy_logo{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.to{
    flex: 1;
}
.ijtimoiy_h2{
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    color: #000000;
}
.ijtimoiy_logo img{
    width: 80px;
    height: 80px;
}
.ijtimoiy_logo input{
    width: 310px;
    height: 28px;
    background-color: #F9FAFC;
    border: none;
    outline: none;
    padding-left: 10px;
}
.ijtimoiy_hr{
    margin-top: 20px;
    background-color: black;
}
.ijtimoiy_collaction{
    display: flex;
    list-style: none;
}
.ijtimoiy_item{
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}
.ijtimoiy_item_ml{
    padding-left: 40px;
    /* margin-left: 40px; */
}
.ijtimoiy_item svg{
    transform: translateY(3px);
}
.ijtimoiy_banner{
    width: 100%;
    /* position: absolute; */
    display: flex;
    min-height: 100vh;
    /* background-color: #F9FAFC; */
}
.ols{
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    margin-bottom: 20px;
    flex-wrap: wrap;
    border: 1px solid #689B63;
}
.tor{
    padding-left: 30px;
}
.banner_big{
    width: 81%;
    background-color: #fff;
    margin-top: 50px;
    padding: 20px 40px;
    margin-bottom: 20px;
}
.banner_text{
    width: 221px;
    margin-top: 50px;
    height: 335px;
    border: 1px solid #a1ba9f   ;
    border-radius: 6px 0 0 6px;
}
.banner_big h3{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}
.banner_big p{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}
.text_collaction{
    margin-top: 20px;
}
.text_item{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}
.text_item span{
    font-weight: 700;
}
.banner_big h2{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
}
.banner_big h4{
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}
.nimadur h1{
    font-size: 12px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: -20px;
}
.funksiya_item{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}
.banner_item{
    list-style: none;
    display: flex;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
    transition: .1s;
}
.one{
    font-size: 14px;
    color: #689B63;
    font-weight: 700;
}
.banner_collaction hr{
    width: 200px;
    height: 1px;
    background-color: #000000;
    /* box-shadow: 0px 0px 5px #0008; */
    margin: auto;
}
.banner_item.active{
    color: #689B63;
}


.tuzilma_h1{
    color: #689B63;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.rahbar_flex{
    display: flex;
    margin-bottom: 30px;
}
.rahbar_text{
    width: 75%;
    padding-left: 15px;
}
.rahbar_icons{
    display: flex;
}
.icon_img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.ml{
    margin-left: 15px;
}
.rahbar_text h6{
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
}
.rahbar_h6{
    color: #689B63;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.rahbar_hr{
    width: 100%;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.336);
}
.icon_one svg{
    fill: #689B63 !important;
}
.icon_one{
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /* justify-content: space-between; */
}
.icon_one p{
    font-size: 16px;
    font-weight: 400;
    transform: translateY(2px);
}
.rahbar_btn{
    width: 150px;
    height: 30px;
    border-radius: 4px 4px 0 0;
    border: 1px solid #689B63;
    background-color: #fff;
    color: #689B63;
    font-size: 12px;
    cursor: pointer;
    font-weight: 400;
    transition: .1s;
}
.rahbar_btn:hover{
    background-color: #689B63;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0 0 4px 4px;
}
.location h6{
    font-size: 16px;
    font-weight: 400;
}
.location svg{
    fill: #689B63 !important;
    transform: translateY(1px);
}
.location{
    display: flex;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.hamkor_box{
    width: 286px;
    height: 280px;
}
.hamkor_h6{
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 10px;
}
.hamkor_h2{
    font-size: 14px;
    font-weight: 400;
    color: #D9D9D9;
}
.ish_flex{
    display: flex;
}
.ish_text{
    width: 75%;
    padding-left:15px;
}
.ish_text_h6{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;

}
.ish_text_h6_oriq{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #689B63;
}
.ish_icons{
    display: flex;
    padding-top: 20px;
}
.ish_icon svg{
    fill: #689B63 !important;
    transform: translateY(2px);
}
.ish_icon{
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}
.ish_icon_h6{
    font-size: 16px;
    font-weight: 400;
}
.end{
    justify-content: center;
}
.oz{
    color: #689B63;
}
.hamkor_img{
    width: 100%;
    height: 164px;
}
@media screen and (max-width: 1225px) {
    .ijtimoiy_logo{
        padding: 0 10px;
    }
    .ijtimoiy_collaction{
        padding: 0 20px;
    }
    .ijtimoiy_hr{
        margin-left: 20px;
    }
    .ols{
        margin-left: 10px;
    }
}
@media screen and (max-width: 870px) {
    .ijtimoiy_collaction li{
        font-size: 18px;
    }
    .oz{
        font-size: 30px;
    }
    .ps{
        font-size: 16px;
    }
    .text_item{
        font-size: 16px;
    }
}