.jamo_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.jamo_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}
.jamo_box{
    width: 286px;
    height: 332px;
    margin-top: 20px;
    box-shadow: 0px 0px 1px #0008;
    transition: .2s;
    cursor: pointer;
}
.jamo_box:hover{
    transform: scale(1.01);
    background-color: #689b6313;
    color: #689B63;
}
.box_h6{
    font-size: 12px;
    font-weight: 400;
    padding: 20px;
}
.jamo_h6{
    font-size: 12px;
    font-weight: 400;
    color: #D9DADA;
}