.sidebar_big{
    width: 650px;
    height: 385px;
}
.sidee{
    display: flex;
    margin-bottom: 20px;
}
.close svg{
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translateY(-27px) translateX(-5px);
}
.sidebar{
    width: 300px;
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
}
.sidebar_big{
    width: 650px;
    height: 380px;
    background-color: #fff;

}

.activeee{
    color: #406c3b;
}
.yashil{
    width: 100%;
    height: 100px;
    background-color: #689B63;
    color: #fff;
    transform: translateY(-10px);
}
.side_img{
    width: 100%;
    height: 290px;
}
.yashil_h6{
    font-size: 30px;
    font-weight: 700;
    margin: auto;
    text-align: center;
    width: 80%;
    padding: 10px 0;
}
.sidebar h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.mt{
    margin-top: 50px;
}
.big_img{
    width: 180px;
    height: 190px;

}
.pt{
    margin-top: 10px;
    display: flex;
    padding: 20px;
}
.child_side{
    display: flex;
    margin-left: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.child_side span{
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
}
.child_side h6{
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
}
.child_side svg{
    fill: #689B63 !important; 
    width: 24px;
    height: 24px;
}
.child_side img{
    width: 24px;
    height: 24px;
}
.side_collaction{
    list-style: none;
}
.side_item{
    font-size: 16px;
    font-weight: 400;
    transition: .15s;
    margin-bottom: 15px;
}
/* .side_item:active{
    transform: translateX(20px);
    color: #689B63;
} */
.nim{
    padding-left: 20px;
    font-size: 24px;
    font-weight: 700;
}
.big_span{
    font-size: 16px;
    font-weight: 400;
    color: #689B63;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: -5px;
}
.side_hr{
    width: 93.5%;
    margin: auto;
    height: 1px;
    background-color: black;
    margin-bottom: 20px;
}
.flex_sid{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.flex_sid h6{
    font-size: 16px;
    font-weight: 700;
}
.flex_sid h6 span{
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
}
.flex_sid svg{
    transform: translateY(2px);
    width: 20px;
    height: 20px;
    fill: #689B63 !important;
}
.link{
    color: #000000;
}
.online_murojat{
    width: 100%;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 50px 140px;
}
.murojat_img_flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.img_flex_img{
    width: 110px;
    height: 110px;
}
.img_flex_h6{
    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
    width: 50%;
}
.murojat_flex_inp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.murojat_flex_inp h6{
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 5px;
}
.flex_inp_box{
    margin-top: 20px;
    margin-bottom: 30px;
}
.muojat_inp{
    width: 380px;
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 400;
    outline: none;
    border: none;
    box-shadow: 0px 0px 1px #0008;
}
.muojat_inp2{
    width: 260px;
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 400;
    outline: none;
    margin-left: 20px;
    border: none;
    box-shadow: 0px 0px 1px #0008;
}
.muojat_inp3{
    width: 260px;
    height: 50px;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 400;
    outline: none;
    border: none;
    box-shadow: 0px 0px 1px #0008;
}
.end{
    width: 20px;
    height: 20px;
    margin-top:  50px;
}
.hh6{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 10px;
}
.murojat-desc{
    width: 100%;
    height: 150px;
    border: none;    
    outline: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0px 0px 1px #0008;
}
.clas{
    width: 100%;
}
.h66{
    margin-left: 20px;
}
.murojat_btn{
    width: 180px;
    height: 50px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #689B63;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-left: 10px;
    transition: .15s;
}
.murojat_btn_qa{
    width: 180px;
    height: 50px;
    font-size: 12px;
    font-weight: 400;
    color: #689B63;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #Fff;
    margin-top: 20px;
    border: 1px solid #689B63;
    margin-bottom: 30px;
    cursor: pointer;
    transition: .15s;
}
.murojat_btn_qa:hover{
    border: none;
    background-color: #689B63;
    color: #fff;
}
.murojat_btn:hover{
    border: 1px solid #689B63;
    background-color: #fff;
    color: #689B63;
}
.hu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mor{
    width: 80%;
    margin: auto;
    border: 6px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #689B63;
}
.muroja{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: none;
    outline: none;
    background-color: #689B63;
    margin-left: 10px;
}
.mor img{
    width: 24px;
    height: 24px;
    color: #fff;
}
.d{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.exs{
    display: flex;
    align-items: center;
    transform: translateY(30px);
}
.end{
    transform: translateX(20px) translateY(-10px);
}
.location {
    /* position: relative; */
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 50px 0px; */
    background-color: #fff;
  }
  .location .mapdiv {
    width: 70%;
    /* margin: auto; */
  }
  .mapdiv .map path {
    fill: #689B63;
    stroke: #fff;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .mapdiv_logo {
    /* position: absolute; */
    top: 33%;
    right: 17%;
    cursor: pointer;
  }
  .mapdiv .map path:hover {
    fill: #406c3b;
    transform: scale(1.005);
  }
  .map_item {
    position: absolute;
    top: 39%;
    right: 18%;
  }
  .sid{
    border: 1px solid #689B63;
  }
  .ed{
    display: flex;
  }
  .location{
    width: 700px;
    position: relative;
    left: -17%;
    top: -3%;
    padding: 0;
    border: 1px solid #689B63;

  }
  .olss{
    max-width:  600px;
  }
  @media screen and (max-width:1291px) {
    .close{
        position: relative;
        transform: translateY(15px);
    }
  }
  @media screen and (max-width: 1225px) {
    .close{
        transform: translateX(12px) translateY(14px);
    }
  }